<header>
    <section class = "jumbotron text-center" >
    </section>
</header>
<body>
    <div class="container">
        <section id="principal-section" class="row">
            <div class="col">
              <h4>Name</h4>
              <p>Descripto too much large</p>
            </div>
            <div class="col">
              Imagen
            </div>
        </section>
        <div class="row">
            <div class="col">
              <h4>History</h4>
              <p>Descripto too much large</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
              <h4>History</h4>
              <p>Descripto too much large</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
              <h4>History</h4>
              <p>Descripto too much large</p>
            </div>
        </div>
    </div>
</body>